//- @pugdoc
  name: Main template
  description: template for pages

doctype
html(lang='ru')

  include ../components/_head.pug

  body

    include ../components/_header.pug

    block content

    include ../components/_footer.pug
    
    script(src='js/script.min.js')
    //- if index
    //-   script(src='js/smoke.js', type='text/javascript')
    //-   script.
    //-     if ($(window).width() >= 940) {
    //-       draw();  
    //-     }

