extends partials/templates/_template.pug

block content
  +b.page--index

    // Main
    +b.MAIN.main

      // Nav
      include partials/components/_nav.pug 

      // Breadcrumbs + basket
      +b.breadcrumbs-basket
        +b.breadcrumbs 
          span Главная страница
        +b.basket
          +e.in В корзине
          +e.summary 
            span 1 товар на сумму 
            | 573,75 р.

      // Promo
      +b.SECTION.promo
        +e.gallery
          - for (var x = 0; x < 3; x++)
            +b.promo-slide
              img(src="img/promo1.png", alt="promo-image")
              +e.text-wrapper
                +e.title Новогодняя коллекция  шоколада 2017 г. 
                +e.text Приятный и вкусный повод для встречи близких друзей и коллег.
                +b.A.btn--blue(href="page-category.html") Выбрать подарок

      // Catalogue
      +b.SECTION.catalogue
        +e.H1.title
          span Каталог шоколадных подарков
        +e.gallery
          - for (var x = 0; x < 2; x++)
            +e.gallery-item
              +b.A.catalogue-slide(href="page-item.html")
                +e.img
                  img(src="img/catalogue/souvenir.png", alt="souvenir")
                +e.text 
                  span Сувениры 
                  | (24)
              +b.A.catalogue-slide(href="page-item.html")
                +e.img
                  img(src="img/catalogue/suite.png", alt="suite")
                +e.text 
                  span Наборы 
                  | (36)
              +b.A.catalogue-slide(href="page-item.html")
                +e.img
                  img(src="img/catalogue/compliment.png", alt="compliment")
                +e.text 
                  span Комплименты 
                  | (32)
              +b.A.catalogue-slide(href="page-item.html")
                +e.img
                  img(src="img/catalogue/gift.png", alt="gift")
                +e.text 
                  span Подарки 
                  | (43)
        +e.inner
          +e.all Всего 250 наименований
          +e.A.open(href="page-photogallery.html") Открыть каталог шоколада

      // Calendar
      +b.SECTION.calendar-section
        +e.H2.title
          span Календарь праздников
        +e.text 
          p Сегодня 10 ноября 2016 года. 
          p Скоро 15 ноября — праздник 
            +e.SPAN.name «Название»
            | .

        +b.calendar
          +e.items
            +e.item
              +e.month-title Ноябрь
              +e.TABLE.month
                thead
                  tr
                    th Пн
                    th Вт
                    th Ср
                    th Чт
                    th Пт
                    th Сб
                    th Вс
                tbody
                  tr
                    td.unactive 31
                    td 1
                    td 2
                    td 3
                    td.event 4
                      +b.event-popup
                        +e.date 4 декабря
                        +e.A.title(href="page-category.html") Название праздника
                    td 5
                    td 6
                  tr
                    td 7
                    td 8
                    td 9
                    td.current 10
                    td 11
                    td 12
                    td 13
                  tr
                    td 14
                    td.event 15
                      +b.event-popup
                        +e.date 4 декабря
                        +e.A.title(href="page-category.html") Название праздника
                    td 16
                    td 17
                    td 18
                    td 19
                    td 20
                  tr
                    td 21
                    td 22
                    td 23
                    td 24
                    td.event 25
                      +b.event-popup
                        +e.date 4 декабря
                        +e.A.title(href="page-category.html") Название праздника
                    td 26
                    td 27
                  tr
                    td 28
                    td 29
                    td 30
                    td.unactive 1
                    td.unactive 2
                    td.unactive 3
                    td.unactive 4
            +e.item
              +e.month-title Декабрь
              +e.TABLE.month
                thead
                  tr
                    th Пн
                    th Вт
                    th Ср
                    th Чт
                    th Пт
                    th Сб
                    th Вс
                tbody
                  tr
                    td.unactive 31
                    td 1
                    td 2
                    td 3
                    td.event 4
                      +b.event-popup
                        +e.date 4 декабря
                        +e.A.title(href="page-category.html") Название праздника
                    td 5
                    td 6
                  tr
                    td 7
                    td 8
                    td 9
                    td 10
                    td 11
                    td 12
                    td 13
                  tr
                    td 14
                    td.event 15
                      +b.event-popup
                        +e.date 4 декабря
                        +e.A.title(href="page-category.html") Название праздника
                    td 16
                    td 17
                    td 18
                    td 19
                    td 20
                  tr
                    td 21
                    td 22
                    td 23
                    td 24
                    td.event 25
                      +b.event-popup
                        +e.date 4 декабря
                        +e.A.title(href="page-category.html") Название праздника
                    td 26
                    td 27
                  tr
                    td 28
                    td 29
                    td 30
                    td.unactive 1
                    td.unactive 2
                    td.unactive 3
                    td.unactive 4
          +e.links
            +e.A.link--show-calendar(href="page-category.html") Развернуть календарь 
              span праздников
            +e.A.link--events-list(href="page-category.html") Все праздники 
              span одним списком
          +e.controls
            +e.A.prev(href="#", title="предыдущий месяц")
            +e.A.next(href="#", title="следущий месяц")

      // Gifts
      include partials/components/_gifts.pug 

      // About section
      +b.SECTION.about-section
        +e.promo
          .bg
            canvas#myCanvas
              img(src='bg.jpg', width='100%', height='100%', border='0')
            .slogan
              .urlOpenCatalog
                a(href='page-category.html', title='Открыть каталог шоколадных подарков') Открыть каталог подарков
        +e.text-wrapper
          +e.img
            img(src="img/about-chocolate.png", alt="about")
          +e.img-mobile
            img(src="img/about-section-300-img.png", alt="about")
          +e.A.link-mobile(href="page-category.html") Открыть каталог товаров
          +e.H3.title О шоколаде
          +e.text Наши шоколадные подарки и сувениры, представленные в каталоге — это шедевры шоколадного искусства, исполнение которых не оставляет сомнений в качестве продукта. Lorem ipsum dolor sit amet, con sectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          +e.A.link(href="page-about.html") Узнать больше о шоколаде

      // Clients section
      +b.SECTION.clients-section
        +e.H2.title
          span Наши клиенты
        +e.inner
          +e.img
            img(src="img/clients/lenta.png", alt="Лента")
          +e.img
            img(src="img/clients/min-sel-hoz.png", alt="Лента")
          +e.img
            img(src="img/clients/lukoil.png", alt="Лукойл")
          +e.img
            img(src="img/clients/utair.png", alt="Лента")
          +e.img
            img(src="img/clients/megavto.png", alt="Лукойл")
          +e.img
            img(src="img/clients/russian-museum.png", alt="Лента")
        +e.A.link(href="page-clients.html") Открыть список клиентов

      // Copyright
      include partials/components/_copyright.pug 









