extends partials/templates/_template.pug


block content
  +b.page--photogallery
    // Main
    +b.MAIN.main

      // Nav
      include partials/components/_nav.pug 

      // Breadcrumbs + basket
      +b.breadcrumbs-basket
        +b.breadcrumbs 
          a(href="index.html") Главная страница
          =' >'
          span Фотогалерея шоколадных изделий
        +b.basket
          +e.in В корзине
          +e.summary 
            span 1 товар на сумму 
            | 573,75 р.


      // Content
      +b.SECTION.content
        +e.H1.title Фотогалерея шоколадных изделий

      // Photogallery
      +b.SECTION.photogallery
        +e.heading Вы смотрите: 3 из 25 фото
        +e.main-gallery
          +e.main-img
            +e.img
              img(src="img/photogallery/slide-1.jpg", alt="photogallery1-image")
            +e.text Шоколадный набор «Ассорти 8 Марта!» (1 шоколадная плитка и 9 конфет)
          +e.main-img
            +e.img
              img(src="img/photogallery/slide-2.jpg", alt="photogallery2-image")
            +e.text Шоколадный набор «Ассорти 8 Марта!» (1 шоколадная плитка и 9 конфет)
          +e.main-img
            +e.img
              img(src="img/photogallery/slide-3.jpg", alt="photogallery3-image")
            +e.text Шоколадный набор «Ассорти 8 Марта!» (1 шоколадная плитка и 9 конфет)
          +e.main-img
            +e.img
              img(src="img/photogallery/slide-4.jpg", alt="photogallery4-image")
            +e.text Шоколадный набор «Ассорти 8 Марта!» (1 шоколадная плитка и 9 конфет)
          +e.main-img
            +e.img
              img(src="img/photogallery/slide-5.jpg", alt="photogallery5-image")
            +e.text Шоколадный набор «Ассорти 8 Марта!» (1 шоколадная плитка и 9 конфет)
          +e.main-img
            +e.img
              img(src="img/photogallery/slide-6.jpg", alt="photogallery6-image")
            +e.text Шоколадный набор «Ассорти 8 Марта!» (1 шоколадная плитка и 9 конфет)
          +e.main-img
            +e.img
              img(src="img/photogallery/slide-7.jpg", alt="photogallery7-image")
            +e.text Шоколадный набор «Ассорти 8 Марта!» (1 шоколадная плитка и 9 конфет)
          +e.main-img
            +e.img
              img(src="img/photogallery/slide-8.jpg", alt="photogallery8-image")
            +e.text Шоколадный набор «Ассорти 8 Марта!» (1 шоколадная плитка и 9 конфет)
          +e.main-img
            +e.img
              img(src="img/photogallery/slide-9.jpg", alt="photogallery9-image")
            +e.text Шоколадный набор «Ассорти 8 Марта!» (1 шоколадная плитка и 9 конфет)

        +e.thumb-gallery
          +e.thumb-img
            img(src="img/photogallery/slide-1.jpg", alt="photogallery1-image")
          +e.thumb-img
            img(src="img/photogallery/slide-2.jpg", alt="photogallery2-image")
          +e.thumb-img
            img(src="img/photogallery/slide-3.jpg", alt="photogallery3-image")
          +e.thumb-img
            img(src="img/photogallery/slide-4.jpg", alt="photogallery4-image")
          +e.thumb-img
            img(src="img/photogallery/slide-5.jpg", alt="photogallery5-image")
          +e.thumb-img
            img(src="img/photogallery/slide-6.jpg", alt="photogallery6-image")
          +e.thumb-img
            img(src="img/photogallery/slide-7.jpg", alt="photogallery7-image")
          +e.thumb-img
            img(src="img/photogallery/slide-8.jpg", alt="photogallery8-image")
          +e.thumb-img
            img(src="img/photogallery/slide-9.jpg", alt="photogallery9-image")
        +e.A.link(href="#") Открыть полный список фотографий

      // Gifts
      include partials/components/_gifts.pug 
      // Copyright
      include partials/components/_copyright.pug 
