extends partials/templates/_template.pug


block content
  +b.page--recommendations-single

    // Main
    +b.MAIN.main

      // Nav
      include partials/components/_nav.pug 

      // Breadcrumbs + basket
      +b.breadcrumbs-basket
        +b.breadcrumbs 
          a(href="index.html") Главная страница
          =' >'
          a(href="page-recommendations.html") Рекомендации
          =' >'
          span Страница выбранной рекомендации
        +b.basket
          +e.in В корзине
          +e.summary 
            span 1 товар на сумму 
            | 573,75 р.

      // Content
      +b.SECTION.content
        +e.H1.title Страница выбранной рекомендации
        +e.inner
          +e.column-text
            +e.text
              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
              h2 Подзаголовок рекомендации
              p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. 
              p Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. 
              h2 Подзаголовок рекомендации
              p Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
            +e.A.link-back(href="page-recommendations.html") Вернуться к списку рекомендаций
          +e.column-img
            +e.img
              img(src="img/recommendation.png", alt="recommendation-single-image")
              +e.A.img-text(href="page-photogallery.html") Перейти в фотогалерею In chocolate veritas

      // Copyright
      include partials/components/_copyright.pug 
