extends partials/templates/_template.pug


block content
  +b.page--item
    // Main
    +b.MAIN.main

      // Nav
      include partials/components/_nav.pug 

      // Breadcrumbs + basket
      +b.breadcrumbs-basket
        +b.breadcrumbs 
          a(href="index.html") Главная страница
          =' >'
          a(href="page-category.html") Каталог шоколада
          =' >'
          span Шоколадный сувенир
        +b.basket
          +e.in В корзине
          +e.summary 
            span 1 товар на сумму 
            | 573,75 р.


      // Content
      +b.SECTION.content
        +e.H1.title Шоколадный сувенир

      // Catalogue item
      +b.SECTION.catalogue-item
        +e.FORM.form(action='', method='')

          +e.bg
            +e.gallery
              +e.slide
                img(src="img/item.png", alt="catalogue-item-image")
              +e.slide
                img(src="img/item.png", alt="catalogue-item-image")
              +e.slide
                img(src="img/item.png", alt="catalogue-item-image")
              +e.slide
                img(src="img/item.png", alt="catalogue-item-image")
            +e.table
              +e.short Кратко о товаре:
              +e.parameters
                +e.line
                  +e.name Артикул
                  +e.value 030020
                +e.line
                  +e.name Вес
                  +e.value 230 гр
                +e.line
                  +e.name Размер
                  +e.value 150х150 мм
                +e.line
                  +e.name Размер шоколада
                  +e.value 120х120 мм
              +e.price
                +e.line
                  +e.name Цена за единицу
                  +e.value--big 1200 р.
              +e.amount 
                +e.SPAN.summary Кол-во: 
                  span 3 шт. 
                +e.A.count--minus(title="Убрать единицу товара")
                +e.A.count--plus(title="Добавить единицу товара")
                +b.INPUT.btn(type='submit', value="В корзину") 

          +e.bg
            +e.recipe
              +b.catalogue-item-recipe
                +e.H2.title Рецептура шоколада
                +e.text
                  h2 Тёмный шоколад 53,8%
                  p Состав: какао тертое, сахар, какао-масло, лецитин, ваниль, кондитерский декор. Массовая доля общего сухого остатка какао не менее 53,1%. Пищевая ценность на 100 г продукта: белки – 5,0 г, жиры – 36,1 г, углеводы – 46,8 г. Энергетическая ценность на 100 г продукта – 535 ккал. Условия хранения: температура 18(+/-3)°С; относительная влажность воздуха не более 60%. Срок годности 6 месяцев при соблюдении условий хранения. 
                  p ТУ 9125-001-71451551-2007. 
                  p Произведено: ООО «Шоколад», РФ, 196105, Санкт-Петербург, ул. Благодатная, д. 71, лит. А. + 7 (812) 303 82 52
                  h2 Молочный шоколад 33,6%
                  p Состав: сахар, какао-масло, цельное сухое молоко, какао тертое, лецитин, ваниль, кондитерский декор. Массовая доля общего сухого остатка какао не менее 25%, массовая доля сухого обезжиренного остатка какао не менее 2,5%, массовая доля сухого обезжиренного остатка молока или молочных продуктов не менее 12%, массовая доля молочного жира не менее 2,5%. Пищевая ценность на 100 г продукта: белки–7,0 г, жиры–36,2 г, углеводы– 51,2 г. Энергетическая ценность на 100 г продукта – 560 ккал. Условия хранения: температура 18(+/-3)°С, относительная влажность воздуха не более 60%. Срок годности 6 месяцев при соблюдении условий хранения. 
                  p ТУ 9125-001-71451551-2007. 
                  p Произведено: ООО «Шоколад», РФ, 196105, Санкт-Петербург, ул. Благодатная, д. 71, лит. А. + 7 (812) 303 82 52

            +e.brand
              +b.catalogue-item-decoration
                +e.H2.title Оформление шоколада
                +e.choose Для оформления заказа вам нужно выбрать:
                +e.SELECT.select(name='Цвет упаковки шоколада')              
                  +e.OPTION.option(value='Цвет упаковки шоколада', disabled, selected) Цвет упаковки шоколада
                  +e.OPTION.option(value='черный') черный
                  +e.OPTION.option(value='белый') белый
                  +e.OPTION.option(value='красный') красный
                +e.SELECT.select(name='Тип шоколада')                
                  +e.OPTION.option(value='Тип шоколада', disabled, selected) Тип шоколада
                  +e.OPTION.option(value='черный молочный') черный молочный
                  +e.OPTION.option(value='черный горький') черный горький
                  +e.OPTION.option(value='белый') белый

              +b.catalogue-item-brand
                +e.H2.title Брендирование шоколадного подарка
                +e.choose Для корпоративного подарка выберите актуальные позиции брендирования*:
                +e.LABEL.label                
                  +e.INPUT.input(type='checkbox', name='Брендирование', value='Брендирование упаковки')
                  +e.text Брендирование упаковки
                +e.LABEL.label                
                  +e.INPUT.input(type='checkbox', name='Брендирование', value='Брендирование шоколада')
                  +e.text Брендирование шоколада
                +e.LABEL.label                
                  +e.INPUT.input(type='checkbox', name='Брендирование', value='Брендирование шоколада и упаковки')
                  +e.text Брендирование шоколада и упаковки
                +e.description
                  p Брендирование — это дополнительная услуга (по требованию заказчика).
                  p Минимальная сумма заказа — 5 тыс.руб.
                  p При оформлении бронированного шоколада строчка "минимальное количество 50 шт.

      // Copyright
      include partials/components/_copyright.pug 


