extends partials/templates/_template.pug

block content
  +b.page--checkout
    // Main
    +b.MAIN.main

      // Nav
      include partials/components/_nav.pug 

      // Breadcrumbs + basket
      +b.breadcrumbs-basket
        +b.breadcrumbs 
          a(href="index.html") Главная страница
          | >
          span Оформление заказа
        +b.basket
          +e.in В корзине
          +e.summary 
            span 1 товар на сумму 
            | 573,75 р.

      // Checkout
      +b.SECTION.checkout

        +e.sidebar
          +b.checkout-basket
            +e.H2.title В вашей корзине
            +b.checkout-basket-item
              +e.img
                img(src="img/checkout-basket-item1.jpg", alt="checkout-basket-item1")
              +e.text-wrapper
                +e.H3.title Шоколадный набор к 8 марта
                +e.price Сумма 200р.
                +e.amount Кол-во: 2 шт. 
                  +e.A.count--plus(title="Добавить единицу товара")
                  +e.A.count--minus(title="Убрать единицу товара")
              +e.A.close(title="Убрать товар из корзины")
            +b.checkout-basket-item
              +e.img
                img(src="img/checkout-basket-item2.jpg", alt="checkout-basket-item2")
              +e.text-wrapper
                +e.H3.title Бонбоньерка свадебная
                +e.price Сумма 300р.
                +e.amount Кол-во: 3 шт. 
                  +e.A.count--plus(title="Добавить единицу товара")
                  +e.A.count--minus(title="Убрать единицу товара")
              +e.A.close(title="Убрать товар из корзины")
            +e.summary
              +e.H2.title Итого:
              +e.text Вы выбрали 2 наименования шоколада в количестве 5 шт. на сумму 500 руб.

        +e.main
          +b.checkout-form
            +e.FORM.form(action='', method='')
              +e.LABEL.label
                +e.title Укажите ваше имя и фамилию:
                +e.INPUT.input(type='text', name='Имя', placeholder="Полное имя и фамилия")
              +e.LABEL.label
                +e.title Укажите контактный телефон:
                +e.INPUT.input(type='tel', name='Телефон', placeholder="+7 (XXX) XXX-XX-XX")
              +e.LABEL.label
                +e.title Укажите адрес электронной почты:
                +e.INPUT.input(type='email', name='Email', placeholder="Электронная почта")
              +e.DIV.item 
                +e.title Выберите ваш статус:
                +e.LABEL.label                
                  +e.INPUT.input(type='radio', name='Статус заказчика', value='Физическое лицо', id="form-individual")
                  +e.text Физическое лицо
                +e.LABEL.label  
                  +e.INPUT.input(type='radio', name='Статус заказчика', value='Юридическое лицо', id="form-company")
                  +e.text Юридическое лицо
              +e.LABEL.label
                +e.title Укажите наименование компании
                +e.INPUT.input(type='text', name='Юр.лицо', placeholder="Наименование юридического лица")
              +e.LABEL.label
                +e.title Укажите Ваш адрес для 
                  a(href="#") курьерской доставки:
                +e.TEXTAREA.textarea(name='Адрес доставки', placeholder="Ваш город, улица, дом, квартира (офис)")
              +e.DIV.item 
                +e.title Выберите способ оплаты:
                +e.LABEL.label                
                  +e.INPUT.input(type='radio', name='Способ оплаты', value='Выставить счет для оплаты')
                  +e.text Выставить счет для оплаты
                +e.LABEL.label  
                  +e.INPUT.input(type='radio', name='Способ оплаты', value='Оплата на банковскую карту')
                  +e.text Оплата на банковскую карту
                +e.LABEL.label                
                  +e.INPUT.input(type='radio', name='Способ оплаты', value='Оплатить онлайн')
                  +e.text Оплатить онлайн
                +e.LABEL.label  
                  +e.INPUT.input(type='radio', name='Способ оплаты', value='Оплата наличными ')
                  +e.text Оплата наличными 
              +e.line При оформлении заказа — 100% предоплата.
              +b.BUTTON.btn(type='submit') Отправить заявку 

      // Copyright
      include partials/components/_copyright.pug 





