extends partials/templates/_template.pug
include partials/abstracts/mixins/_goods-item.pug

block content
  +b.page--category
    // Main
    +b.MAIN.main

      // Nav
      include partials/components/_nav.pug 

      // Breadcrumbs + basket
      +b.breadcrumbs-basket
        +b.breadcrumbs 
          a(href="index.html") Главная страница
          | >
          span Шоколадные подарки на 8 марта
        +b.basket
          +e.in В корзине
          +e.summary 
            span 1 товар на сумму 
            | 573,75 р.

      // Category
      +b.SECTION.category
        +e.H2.title Шоколадные подарки на 8 марта
        +e.info
          +b.category-sorting
            span Сортировать:
            +e.type
              +e.A.sort(href="#") По цене
              +e.UL.list
                +e.LI.item
                  a(href="#") По популярности
                //- +e.LI.item
                //-   a(href="#") По популярности 2
          +e.summary Всего 10 товаров
        +e.gallery
          +goodsItem('Ассорти 8 марта', '120', 'goods-item')
          +goodsItem('Визитка 8 марта', '200', 'goods-item')
          +goodsItem('Деревянная шкатулка 8 марта', '200', 'goods-item', 'goods-item--new')
          +goodsItem('Шкатулка 8 марта', '200', 'goods-item')
          +goodsItem('Конверт 8 марта 1', '400', 'goods-item')
          +goodsItem('Конверт 8 марта 2', '120', 'goods-item')
          +goodsItem('Ларец "Лебеди"', '12000', 'goods-item')
          +goodsItem('Лолипоп женский', '650', 'goods-item')
          +goodsItem('Набор 6+1 8 марта', '2000', 'goods-item')
          +goodsItem('Набор с конфетами 8 марта', '2000', 'goods-item')
          +e.item
            +b.A.goods-item--next(href="#")
              +e.H3.title 
                span Следующий праздник:
                | 23 февраля
              +e.text Мы приготовили всего 12 шоколадных подарков из шоколада на любой вкус.
              +e.SPAN.choose Выбрать подарок

      // Gifts
      include partials/components/_gifts.pug 
      // Copyright
      include partials/components/_copyright.pug 









