extends partials/templates/_template.pug

block content
  +b.page--brand

    // Main
    +b.MAIN.main

      // Nav
      include partials/components/_nav.pug 

      // Breadcrumbs + basket
      +b.breadcrumbs-basket
        +b.breadcrumbs 
          a(href="index.html") Главная страница
          | >
          a(href="page-about.html") О компании
          | >
          span Брендирование шоколада
        +b.basket
          +e.in В корзине
          +e.summary 
            span 1 товар на сумму 
            | 573,75 р.

      // Content
      +b.SECTION.content
        +e.H1.title Брендирование шоколада
        +e.inner
          +e.column-text
            +e.text
              p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 
              p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. 
              p Claritas est etiam processus dynamicus, qui sequitur muta tio nem consuetudium lectorum. Mirum est notare quam littera got hica, quam nunc putamus parum claram, anteposuerit litt era decima. 
          +e.column-img
            +e.img
              img(src="img/services.png", alt="about-image")
              +e.A.img-text(href="#") Оформление шоколада к Новому году

      // Brand examples
      +b.SECTION.brand-examples
        +e.inner
          +e.column-img
            +e.gallery
              +e.img
                img(src="img/brand-example.png", alt="brand-example")
              +e.img
                img(src="img/brand-example.png", alt="brand-example")
              +e.img
                img(src="img/brand-example.png", alt="brand-example")
          +e.column-text
            +e.text-wrapper
              +e.title Примеры оформления: брендированный шоколад
              +e.text Вы можете оценить визуально как выполняется на практике само оформление корпоративного шоколада. Все подарки, выполненные по индивидуальным заказам, в итоге оформляются в праздничную упаковку и с нанесением объемного логотипа компании заказчика.

      // Contacts
      include partials/components/_contacts.pug 
      // Copyright
      include partials/components/_copyright.pug 






 






