extends partials/templates/_template.pug

block content
  +b.page--faq

    // Main
    +b.MAIN.main

      // Nav
      include partials/components/_nav.pug 

      // Breadcrumbs + basket
      +b.breadcrumbs-basket
        +b.breadcrumbs 
          a(href="index.html") Главная страница
          | >
          span Ответы на вопросы
        +b.basket
          +e.in В корзине
          +e.summary 
            span 1 товар на сумму 
            | 573,75 р.

      // Content
      +b.SECTION.content
        +e.H1.title Ответы на вопросы
        +e.inner
          +e.column-text
            +e.text
              p Магазин шоколада In chocolate veritas представляет ответы на частые вопросы клиентов касаемо тем выбора наборов шоколада, брендирования для корпоративных праздников, доставки и оплаты.
            // Faq
            +b.SECTION.faq
              +e.H2.title Ответы на частые вопросы клиентов
              +e.UL.list
                - for (var i = 0; i < 6; i++){
                  +e.LI.item
                    +e.A.link(href="javascript:void(0);") Как правильно выбрать шоколад для праздника?
                    +e.text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Толку пустился, приставка выйти дороге. Необходимыми переписывается вершину свое родного инициал первую свою коварный, от всех за раз, большого что, буквенных. Предупреждал, дал коварных, взгляд меня осталось переулка своего. Жизни заглавных послушавшись маленькая наш моей имеет, единственное однажды одна его от всех.
                  +e.LI.item
                    +e.A.link(href="javascript:void(0);") Есть ли сертификат качества на шоколад?
                    +e.text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Толку пустился, приставка выйти дороге. Необходимыми переписывается вершину свое родного инициал первую свою коварный, от всех за раз, большого что, буквенных. Предупреждал, дал коварных, взгляд меня осталось переулка своего. Жизни заглавных послушавшись маленькая наш моей имеет.
                - }
              +e.A.link-contact(href="page-contacts.html") Обратиться в магазин In chocolate veritas

          +e.column-img
            +e.img
              img(src="img/faq.png", alt="faq-image")
              +e.A.img-text(href="#") Задать вопрос online нашему специалисту 

      // Copyright
      include partials/components/_copyright.pug 







