extends partials/templates/_template.pug

block content
  +b.page--guarantee

    // Main
    +b.MAIN.main

      // Nav
      include partials/components/_nav.pug 

      // Breadcrumbs + basket
      +b.breadcrumbs-basket
        +b.breadcrumbs 
          a(href="index.html") Главная страница
          | >
          a(href="page-about.html") О компании
          | >
          span Гарантия качества шоколада
        +b.basket
          +e.in В корзине
          +e.summary 
            span 1 товар на сумму 
            | 573,75 р.

      // Content
      +b.SECTION.content
        +e.H1.title Гарантия качества шоколада
        +e.inner
          +e.column-text
            +e.text
              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nost rud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facil isis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nu lla facilisi.
              p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer po ssim assum.
          +e.column-img
            +e.img
              img(src="img/guarantee.png", alt="guarantee-image")
              +e.A.img-text(href="#") Исключительно 100% натуральный шоколад

      // Copyright
      include partials/components/_copyright.pug 



