extends partials/templates/_template.pug

block content
  +b.page--clients

    // Main
    +b.MAIN.main

      // Nav
      include partials/components/_nav.pug 

      // Breadcrumbs + basket
      +b.breadcrumbs-basket
        +b.breadcrumbs 
          a(href="index.html") Главная страница
          =' >'
          a(href="page-about.html") О компании
          =' >'
          span Наши клиенты
        +b.basket
          +e.in В корзине
          +e.summary 
            span 1 товар на сумму 
            | 573,75 р.

      // Content
      +b.SECTION.content
        +e.H1.title Наши клиенты
        +e.inner
          +e.column-text
            +e.text
              p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit  autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie. 
              p Dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          +e.column-img
            +e.img
              img(src="img/our-clients.png", alt="our-clients")

      // Clients
      +b.SECTION.clients
        +e.inner
          +e.img
            img(src="img/clients/lenta.png", alt="Лента")
          +e.img
            img(src="img/clients/lukoil.png", alt="Лукойл")
          +e.img
            img(src="img/clients/utair.png", alt="Лента")
          +e.img
            img(src="img/clients/megavto.png", alt="Лукойл")
          +e.img
            img(src="img/clients/min-sel-hoz.png", alt="Лента")
          +e.img
            img(src="img/clients/tissura.png", alt="Лукойл")
          +e.img
            img(src="img/clients/russian-museum.png", alt="Лента")
          +e.img
            img(src="img/clients/yugra.png", alt="Лукойл")

      // Contacts
      include partials/components/_contacts.pug 
      // Gifts
      include partials/components/_gifts.pug 
      // Copyright
      include partials/components/_copyright.pug 






 






