.brand-examples{
  margin: 0 90px;
  padding-top: 20px;
  @media (max-width: $screen-xl){
    margin: 0 25px;
    padding-top: 0;
  }  

  &__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -15px;
    @media (max-width: $screen-xl){
      display: block;
      margin: 0;
    }
  }
  &__column-img{
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
    @media (max-width: $screen-xl){
      max-width: 100%;
      padding: 0;
    }
  }
  &__column-text{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
    @media (max-width: $screen-xl){
      max-width: 100%;
      padding: 0;
    }
  }

  &__gallery{
    position: relative;
    @media (max-width: $screen-xl){
      margin: 20px 0;
    }

    .slick-arrow{
      padding: 0;
      position: absolute;
      bottom: 40px;
      z-index: 1;
      color: transparent;
      background-color: transparent;
      border: none;
      outline: none;
      @include sprite($s-promo-arrow);
      @media (max-width: $screen-xl){
        display: none;
      }      
    }
    .slick-prev{
      left: 50%;
      margin-left: -10px;
      transform: rotate(180deg) translateX(100%);
    }
    .slick-next{      
      right: 50%;
      margin-right: -10px;
      transform: translateX(100%);
    }
    .slick-dots{
      position: absolute;
      bottom: 40px;
      right: 50%;
      transform: translateX(50%);
      padding-left: 0;
      margin: 0;
      list-style-type: none;
      text-align: center;
      @media (max-width: $screen-xl){
        bottom: 5px;
        right: -5px;
        transform: scale(0.6);
      } 

      > li{
        display: inline-block;
        > button{
          color: transparent;
          background-color: transparent;
          border: none;
          display: block;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          padding: 0;
          margin: 0 5px;
          background-color: #afafaf;
        }
      }
      > li.slick-active{
        > button{
          background-color: #d2ae7b;
        }
      }
    }
  }

  &__img{
    width: 100%;
    height: auto;
    min-height: 330px;
    @media (max-width: $screen-xl){
      min-height: 100px;
    }
  }

  &__text-wrapper{
    padding: 20px;
    background-color: #ead6b3;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-width: 30px 30px;
      border-color: transparent;
      border-style: solid;
      border-image: url(../img/border-corners.png) 20 20 stretch;
    }
    @media (max-width: $screen-xl){
      max-width: 100%;
      padding: 20px 20px 30px;
      font-size: 14px;
    }
  }

  &__title{
    @include font-family('Lora Bold', normal, normal);
    font-size: 16px;
    text-align: center;
    margin: 0 -10px 10px;
  }
}