.breadcrumbs-basket{
  display: flex;
  // flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin: 20px 90px 15px;
  @media (max-width: $screen-xl){
    margin: 5px 0;
  }
}

.breadcrumbs{
  // flex: 0 0 auto;
  color: #9a8561;
  font-size: 14px;
  @media (max-width: $screen-xl){
    display: none;
  }
}

.basket{
  max-width: 300px;
  flex: 1 1 100%;
  display: flex;
  // flex-wrap: wrap;
  overflow: hidden;
  border: 1px solid $brown-border;
  border-radius: 1px;
  font-size: 14px;
  position: relative;
  @media (max-width: $screen-xl){
    display: inline-block;
    vertical-align: bottom;    
    border: none; 
    max-width: initial;  
    flex: 0 0 auto; 
  }
  &:before{
    content: '';
    display: none;    
    @include sprite($s-icon-basket);
    @media (max-width: $screen-xl){
      position: absolute;
      bottom: 3px;
      left: -3px;
      margin-right: 5px;
      display: block;
    }
  }
  &:hover{
    cursor: pointer;
    color: #855740;
  }

  &__in{
    padding: 5px 5px 5px 15px;
    background-color: #dec9ab;
    position: relative;
    @media (max-width: $screen-xl){
      display: none;
    }
    &:after{
      content: '';
      position: absolute;
      z-index: -1;
      top: -6px;
      right: -8px;
      background-color: #dec9ab;
      border: 1px solid $brown-border;
      transform: rotate(45deg);
      width: 40px;
      height: 40px;
    }
  }
  &__summary{
    margin-left: 20px;
    padding: 5px;
    @include font-family('Lora Bold', normal, normal);
    @media (max-width: $screen-xl){
      padding: 0;
      line-height: 1.6;
    }
    span{
      @media (max-width: $screen-xl){
        display: none;
      }
    }
  }
}