.btn{
  display: inline-block;
  text-align: center;
  text-shadow: $text-shadow;
  @include font-family('Lora Regular', normal, normal);
  font-size: 16px;
  border: 1px solid rgb(161, 133, 96);
  border-radius: 1px;
  background-image: linear-gradient( 180deg, rgb(238,220,190) 0%, rgb(187,159,122) 100%);
  color: rgb(51, 51, 51);
  padding: 10px 20px;
  margin: 0;
  outline: none;
  @media (max-width: $screen-xl){
    font-size: 14px;
    padding: 7px 18px;
  }
  &:hover{
    text-shadow: none;
    border: 1px solid #a18560;
    background-image: none;
    background: #a18560;
    color: #fff;
  }

  &--blue{
    color: rgb(103, 116, 129);
    border: 1px solid rgb(156, 168, 179);
    border-radius: 3px;
    background-image: linear-gradient( 180deg, rgb(255,255,255) 0%, rgb(191,210,225) 100%);
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
    &:hover{
      color: #fff;
      border: 1px solid #677481 !important;
      text-shadow: none;
      background-image: none;
      background-color: #628099;
    }
  }
}

