.content{
  margin: 0 90px;
  padding-top: 15px;
  // padding-bottom: 15px;
  @media (max-width: $screen-xl){
    margin: 5px 25px;
    padding-top: 0;
  }

  &__title{
    margin: 10px 0 15px;
    @include font-family('Lora Bold', normal, normal);
    font-size: 25px;
    @media (max-width: $screen-xl){
      text-align: center;
      color: #5b4c39;
      font-size: 14px;
      margin: 20px 0 20px;
    }
  }
  &__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -15px;
    @media (max-width: $screen-xl){
      display: block;
      margin: 0;
    }
  }
  &__column-text{
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
    @media (max-width: $screen-xl){
      max-width: 100%;
      padding: 0;
    }
  }
  &__column-img{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
    @media (max-width: $screen-xl){
      max-width: 100%;
      padding: 0;
    }
  }
  &__text{
    @media (max-width: $screen-xl){
      font-size: 12px;
    }
    p{
      margin: 10px 0;
    }
    a{
      @include font-family('Lora Bold', normal, normal);
    }
    h2, h3, h4, h5, h6{
      @include font-family('Lora Bold', normal, normal);
      @media (max-width: $screen-xl){
        font-size: 12px;
      }
    }
    h2{
      font-size: 18px;
    }
    h3, h4, h5, h6{
      font-size: 15px;
    }
  }
  &__img{
    text-align: center;
    padding: 10px;
    img{
      width: 100%;
    }
  }
  &__img-text{
    display: block;
    padding: 10px 30px 0;
    text-align: center;
    @include font-family('Lora Bold', normal, normal);
    font-size: 15px;
    line-height: (22/15);
  }

  &__description{
    max-width: 65%;
    @media (max-width: $screen-xl){
      font-size: 12px;
      max-width: 100%;
    }
  }
  &__link-back{
    @include font-family('Lora Bold', normal, normal);
    @media (max-width: $screen-xl){
      font-size: 12px;
    }
  }
}