.contacts{
  margin: 10px 65px 0;
  border-width: 5px 0;
  border-color: transparent;
  border-style: solid;
  border-image: url(../img/copyright-border.png) 5 0 stretch;
  @media (max-width: $screen-xl){
    display: block;
    margin: 20px 30px 0;
  }

  &__inner{
    margin: 15px 15px 15px;
    display: flex;
    @media (max-width: $screen-xl){
      display: block;
      margin: 15px 0;
    }
  }
  &__text{
    flex: 0 0 65%;
    max-width: 65%;
    @media (max-width: $screen-xl){
      flex: 0 0 100%;
      max-width: 100%;
      font-size: 13px;
    }
  }
  &__promo{
    span{
      @include font-family('Lora Bold', normal, normal);
      @media (max-width: $screen-xl){
        display: block;
        text-align: center;
        margin-bottom: 5px;
      }
    }
  }
  &__email{
    position: relative;
    color: #666666;
    padding: 10px 0 0;
    @media (max-width: $screen-xl){
      padding-left: 45px;
      margin-bottom: 10px;
    }

    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      @include sprite($s-item-email);
      display: none;
      @media (max-width: $screen-xl){
        display: block;
      }
    }

    > span{
      @media (max-width: $screen-xl){
        display: block;
      }
    }
    a{
      @include font-family('Lora Bold', normal, normal);
      @media (max-width: $screen-xl){
        display: block;
      }
    }
  }
  &__tel{
    position: relative;
    flex: 0 0 35%;
    max-width: 35%;
    @media (max-width: $screen-xl){
      padding-left: 45px;
      margin-bottom: 10px;
    }

    @media (max-width: $screen-xl){
      flex: 0 0 100%;
      max-width: 100%;
    }
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      @include sprite($s-item-tel);
      display: none;
      @media (max-width: $screen-xl){
        display: block;
      }
    }


    > span{
      color: #9d8b6e;
      @media (max-width: $screen-xl){
        font-size: 13px;
      }
    }
    > a{
      display: block;
      margin: 5px 0;
      font-size: 30px;
      @media (max-width: $screen-xl){
        font-size: 18px;
        margin: 0;
      }

      > span{
        @include font-family('Lora Bold', normal, normal);
      }
    }
  }
}