.copyright{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 90px 30px;
  // border-width: 5px 0;
  // border-color: transparent;
  // border-style: solid;
  // border-image: url(../img/copyright-border.png) 5 0 stretch;
  color: #9a8d7b;
  font-size: 12px;
  @media (max-width: $screen-xl){
    padding: 10px 50px 20px;
    font-size: 9px;
    // border-width: 4px 0;
  }

  &__inner{
    margin: 15px 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    @media (max-width: $screen-xl){
      flex: 0 0 100%;
      max-width: 100%;
      margin: 5px 0 5px;
    }
  }
  &__text{
    flex: 0 0 65%;
    max-width: 65%;
    @media (max-width: $screen-xl){
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &__developer{
    a{
      color: #9a8d7b;
    }
  }
}