.gifts{
  text-align: center;
  margin-top: 35px;
  margin-bottom: 45px;
  @media (max-width: $screen-xl){
    margin-top: 25px;
    margin-bottom: 25px;
  }

  &__title{
    margin: 0 65px 10px;
    position: relative;
    @include font-family('Lora Bold', normal, normal);
    font-size: 25px;
    color: #b5a282;
    @media (max-width: $screen-xl){
      font-size: 12px;
      margin: 0 10px 10px;
    }

    &:before, &:after{
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      height: 1px;
      min-height: 1px;
      background-color: #e1cdaf;
      @media (max-width: $screen-xl){
        display: none;
      }
    }
    &:before{
      top: 16px;
    }
    &:after{
      bottom: 14px;
    }
    span{
      position: relative;
      z-index: 3;
      padding: 10px;
      background-color: $sand;
      background-image: url(../img/main-bg-color.png);
      background-repeat: repeat;
      @media (max-width: $screen-xl){
        background-image: none;
        background-color: transparent;
        padding: 0;
      }
    }
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 40px 0;
    @media (max-width: $screen-xl){
      margin: 10px 10px 0;
    }
  }
  &__item{
    flex: 0 0 25%;
    max-width: 25%;
    @media (max-width: $screen-xl){
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 20px;
    }
    &:before{
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      width: auto;
      min-height: 155px;
      @media (max-width: $screen-xl){
        background-size: contain;
        min-height: 110px;
      }
    }

    &:nth-of-type(1){
      &:before{
        background-image: url(../img/gifts/gift1.png);
      }
    }
    &:nth-of-type(2){
      &:before{
        background-image: url(../img/gifts/gift2.png);
      }
    }
    &:nth-of-type(3){
      &:before{
        background-image: url(../img/gifts/gift3.png);
      }
    }
    &:nth-of-type(4){
      &:before{
        background-image: url(../img/gifts/gift4.png);
      }
    }
  }
  &__text{
    font-size: 16px;
    line-height: (22/16);
    @include font-family('Lora Bold', normal, normal);
    @media (max-width: $screen-xl){
      font-size: 11px;
      line-height: (14/11);
      margin: 0 -20px;
    }
  }
}