.nav{
  margin: 1px 90px 0;
  // border-width: 5px 0;
  // border-color: transparent;
  // border-style: solid;
  // border-image: url(../img/menu-border.png) 5 0 stretch;
  position: relative;
  @media ( min-width : ($screen-xl + 1)) and ( max-width : $screen-xxl) {
    margin: 1px 50px 0;
  }
  @media (max-width: $screen-xl){
    margin: 0 40px 0;
    display: flex;
    justify-content: space-between;
  }  
  
  &__list{
    margin: 0;
    padding-left: 0;
    font-size: 17px;
    text-shadow: $text-shadow-sand;
    @include font-family('Lora Bold', normal, normal);
    @media ( min-width : ($screen-xl + 1)) and ( max-width : $screen-xxl) {
      font-size: 14px;
    }

    @media (max-width: $screen-xl){
      position: absolute;
      top: 100%;
      background-color: #dec9ab;
      z-index: 5;
      border: 1px solid #c4aa87;
      font-size: 14px;
      display: none; /**/
    }
  }
  &__item{
    position: relative;
    display: inline-block;
    @media (max-width: $screen-xl){
      display: block;
    }
    &:after{
      content: '';
      display: inline-block;
      @include sprite($s-menu-divider);
      @media (max-width: $screen-xl){
        display: none;
      }
    }
    &:last-of-type{
      &:after{
        display: none;
      }
    }
    &:hover{      
      .nav__link{
        background-color: #dec9ab;
        border: 1px solid #bb9f7a;
        text-shadow: none;
        @media (max-width: $screen-xl){
          color: #fff;
          background-color: #b29c77;
        }
      }
      .nav__sublist{
        display: block;
      }
    }
    &--search{
      position: relative;
      &:hover{      
        .nav__link{
          background-color: transparent;
          border: 1px solid transparent; 
          @media (max-width: $screen-xl){
            background-color: transparent;
            border: 1px solid transparent;
          }        
        }
      }
    }
  }
  &__link{
    padding: 10px 5px;
    border: 1px solid transparent;
    display: inline-block; 
    @media ( min-width : ($screen-xl + 1)) and ( max-width : $screen-xxl) {
      padding: 10px 3px;
    }
    @media (max-width: $screen-xl){
      width: 100%;
      padding: 5px 5px;
    } 
    &--search{
      display: inline-block;
      vertical-align: bottom;
      margin: 0 5px;
      @include sprite($s-icon-search);
      @media (max-width: $screen-xl){
        transform: scale(0.9);
      }
    }
  }
  &__sublist{
    display: none;
    position: absolute;
    z-index: 4;
    transform: translateY(-1px);
    top: 100%;
    left: 0;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    width: 250px;
    background-color: #dec9ab;
    border: 1px solid #bb9f7a;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    @include font-family('Lora Regular', normal, normal);
    @media (max-width: $screen-xl){
      position: static;
      border: none;
      box-shadow: none;
      transform: none;
      width: auto;
    }

    &--catalogue{
      columns: 2;
      width: 500px;
      @media (max-width: $screen-xl){
        columns: 1;
        width: auto;
      }
      .nav__sublink{
        @include font-family('Lora Bold', normal, normal);
      }
    }
  }
  &__subitem{
    display: inline-block;
    width: 100%;
  }
  &__sublink{
    display: block;
    padding: 5px;
    @media (max-width: $screen-xl){
      padding-left: 20px;
    }
    &:hover{  
      color: #fff;
      background-color: #b29c77;
      text-shadow: none;
    }
  }
  
  &__subsublist{
    padding-left: 10px;
    list-style-type: none;
    margin: 0;
    @media (max-width: $screen-xl){
      padding-left: 30px;
    }
  }
  // &__subsubitem{

  // }
  &__subsublink{
    display: block;
    padding: 5px;
    @media (max-width: $screen-xl){
      // padding-left: 10px;
    }
    &:hover{  
      color: #fff;
      background-color: #b29c77;
      text-shadow: none;
    }
  }



  &__hamburger{
    display: none;
    @media (max-width: $screen-xl){
      display: inline-block;
    }
  }
}



.main-hamburger{
  text-transform: uppercase;
  font-size: 14px;
  @include font-family('Lora Bold', normal, normal);
  &:before{
    content: '';
    display: inline-block;
    @include sprite($s-icon-hamburger);
  }
}

.nav-search{
  display: none;
  position: absolute;
  bottom: -5px;
  right: 100%;
  @include font-family('Lora Regular', normal, normal);
  &__input{
    padding: 5px;
    border: 1px solid grey;
    background-color: $sand;
    width: 350px;
    @media (max-width: $screen-xl){
      width: 200px;
    }
  }
}