.main{
  position: relative;
  padding-top: 15px;
  // padding-bottom: 100px;
  padding-bottom: 150px;
  @media (max-width: $screen-xl){
    padding-top: 12px;
    padding-bottom: 100px;
  }
}
.page{
  width: calc(100% - 40px);
  max-width: $container-xl;
  margin: 0 auto;
  position: relative;
  @media (max-width: $screen-xl){
    width: $container-sm;
  }
  &:before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 140px 50px;
    border-color: $sand;
    border-style: solid;
    border-image: url(../img/main-bg.png) 140 50 round stretch;
    @media (max-width: $screen-xl){
      border-width: 125px 50px;
      border-image: url(../img/main-bg-300.png) 125 50 round stretch;
    }
  }
  &:after{
    content: '';
    position: absolute;
    z-index: -2;
    left: 50px;
    width: calc(100% - 100px);
    top: 140px;
    height: calc(100% - 280px);
    background-color: $sand;
    background-image: url(../img/main-bg-color.png);
    background-repeat: repeat;
    @media (max-width: $screen-xl){
      left: 40px;
      width: calc(100% - 80px);
      top: 120px;
      height: calc(100% - 240px);
    }
  }



  &--brand, &--corporate-clients, &--guarantee, &--recommendations-single, &--services-single, &--faq {
    .content__img{
      padding: 30px 20px 20px;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        z-index: 1;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 20px 20px;
        border-color: transparent;
        border-style: solid;
        border-image: url(../img/border-corners-transparent.png) 20 20 stretch;
      }
      @media (max-width: $screen-xl){
        padding: 30px 20px 20px;
        margin-top: 20px;
      }
    }
    .content__img-text{
      @media (max-width: $screen-xl){
        margin: 0 -20px;
        font-size: 14px;
      }
    }
  }
  
  &--delivery{
    .content__img{
      @media (max-width: $screen-xl){
        margin: 0 20px;
      }
    }
  }

  &--search{
    .pagination{
      margin-left: 20px;
      @media (max-width: $screen-xl){
        margin-left: 0;
      }
    }
  }

  &--contacts{
    .contacts{
      margin: 20px 90px 20px;
      border-image: none;
      &:before, &:after{
        display: none;
      }
      @media (max-width: $screen-xl){
        margin: 10px 20px 10px;
      }
      &__title{
        @include font-family('Lora Bold', normal, normal);
        font-size: 25px;
        margin: 10px 0 25px;
        @media (max-width: $screen-xl){
          color: #5b4c39;
          font-size: 14px;
          text-align: center;
          margin: 10px 0 10px;
        }        
      }
      &__inner{
        display: block;
        margin: 0;
        @media (max-width: $screen-xl){
          font-size: 13px;
        }
      }
      &__img{
        float: right;
        @media (max-width: $screen-xl){
          float: none;
        }
      }
      &__text{
        max-width: 100%;        
      }
      &__promo{
        span{
          padding: 0 20px;
          @include font-family('Lora Regular', normal, normal);
        }        
      }
      &__tel{
        margin-top: 20px;
        max-width: 100%;
        > span {
          color: #333333;
          @include font-family('Lora Bold', normal, normal);
          display: block;
        }
        &:before{
          bottom: 50%;
          transform: translateY(50%);
        }
      }
      &__link{
        display: inline-block;         
        @media (max-width: $screen-xl){
          vertical-align: text-bottom;
        }     

        &--viber{
          margin-left: 10px;
          @include sprite($s-icon-viber-transparent);
          @media (max-width: $screen-xl){
            display: none;
          }
        }
        &--whatsapp{
          margin-left: 10px;
          @include sprite($s-icon-whatsapp-transparent);
          @media (max-width: $screen-xl){
            display: none;
          }
        }
      }
      &__email{
        >span{
          color: #333333;
          @include font-family('Lora Bold', normal, normal);
          @media (max-width: $screen-xl){
            font-size: 13px;
          }          
        }
        > a{
          margin-top: 5px;
          display: block;
          font-size: 28px;
          height: (36/28);
          @media (max-width: $screen-xl){
            font-size: 13px;
          }
        }
      }
    }
  }

}

