mixin goodsItem(title, price, img, bonusClass)

  +e.item
    +b.goods-item(class= bonusClass)
      +e.A.img(href="page-item.html")
        img(src="img/" + img +".png", alt= title)
      +e.H3.title 
        a(href="page-item.html") #{title}
      +e.price 
        span Цена: 
        | #{price} рублей
      +e.A.add(href="#") Добавить в корзину
