mixin goodsItem(title, price, img, bonusClass)

  +e.item
    +b.goods-item(class= bonusClass)
      +e.img
        img(src="img/" + img +".png", alt= title)
      +e.H3.title #{title}
      +e.price 
        span Цена: 
        | #{price} рублей
      +e.A.add(href="#") Добавить в корзину
