//------------------------------------------------------------------------------
//  Базовые стили
//------------------------------------------------------------------------------

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  background-color: $body-bg;
  background-image: url(../img/body-bg.jpg);
  background-position: top center;
  background-repeat: repeat;
  color: $text-color;
  @include font-family('Lora Regular', normal, normal);
  font-size: $font-size;
  line-height: $line-height;
}


a {
  color: $link-color;
  text-decoration: none;
  @include transition();

  // &:hover, &:focus {
  //   color: $red;
  //   text-decoration: underline;
  // }
}

button, input[type="submit"]{
  @include transition();  
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
