// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-calendar-arrow-name: 's-calendar-arrow';
$s-calendar-arrow-x: 0px;
$s-calendar-arrow-y: 116px;
$s-calendar-arrow-offset-x: 0px;
$s-calendar-arrow-offset-y: -116px;
$s-calendar-arrow-width: 34px;
$s-calendar-arrow-height: 12px;
$s-calendar-arrow-total-width: 165px;
$s-calendar-arrow-total-height: 150px;
$s-calendar-arrow-image: '../img/png-sprite.png';
$s-calendar-arrow: (0px, 116px, 0px, -116px, 34px, 12px, 165px, 150px, '../img/png-sprite.png', 's-calendar-arrow', );
$s-catalogue-arrow-300-name: 's-catalogue-arrow-300';
$s-catalogue-arrow-300-x: 140px;
$s-catalogue-arrow-300-y: 57px;
$s-catalogue-arrow-300-offset-x: -140px;
$s-catalogue-arrow-300-offset-y: -57px;
$s-catalogue-arrow-300-width: 24px;
$s-catalogue-arrow-300-height: 24px;
$s-catalogue-arrow-300-total-width: 165px;
$s-catalogue-arrow-300-total-height: 150px;
$s-catalogue-arrow-300-image: '../img/png-sprite.png';
$s-catalogue-arrow-300: (140px, 57px, -140px, -57px, 24px, 24px, 165px, 150px, '../img/png-sprite.png', 's-catalogue-arrow-300', );
$s-catalogue-arrow-hover-name: 's-catalogue-arrow-hover';
$s-catalogue-arrow-hover-x: 46px;
$s-catalogue-arrow-hover-y: 20px;
$s-catalogue-arrow-hover-offset-x: -46px;
$s-catalogue-arrow-hover-offset-y: -20px;
$s-catalogue-arrow-hover-width: 18px;
$s-catalogue-arrow-hover-height: 24px;
$s-catalogue-arrow-hover-total-width: 165px;
$s-catalogue-arrow-hover-total-height: 150px;
$s-catalogue-arrow-hover-image: '../img/png-sprite.png';
$s-catalogue-arrow-hover: (46px, 20px, -46px, -20px, 18px, 24px, 165px, 150px, '../img/png-sprite.png', 's-catalogue-arrow-hover', );
$s-catalogue-arrow-name: 's-catalogue-arrow';
$s-catalogue-arrow-x: 66px;
$s-catalogue-arrow-y: 20px;
$s-catalogue-arrow-offset-x: -66px;
$s-catalogue-arrow-offset-y: -20px;
$s-catalogue-arrow-width: 18px;
$s-catalogue-arrow-height: 24px;
$s-catalogue-arrow-total-width: 165px;
$s-catalogue-arrow-total-height: 150px;
$s-catalogue-arrow-image: '../img/png-sprite.png';
$s-catalogue-arrow: (66px, 20px, -66px, -20px, 18px, 24px, 165px, 150px, '../img/png-sprite.png', 's-catalogue-arrow', );
$s-chevron-down-name: 's-chevron-down';
$s-chevron-down-x: 140px;
$s-chevron-down-y: 109px;
$s-chevron-down-offset-x: -140px;
$s-chevron-down-offset-y: -109px;
$s-chevron-down-width: 8px;
$s-chevron-down-height: 5px;
$s-chevron-down-total-width: 165px;
$s-chevron-down-total-height: 150px;
$s-chevron-down-image: '../img/png-sprite.png';
$s-chevron-down: (140px, 109px, -140px, -109px, 8px, 5px, 165px, 150px, '../img/png-sprite.png', 's-chevron-down', );
$s-goods-item-next-name: 's-goods-item-next';
$s-goods-item-next-x: 0px;
$s-goods-item-next-y: 0px;
$s-goods-item-next-offset-x: 0px;
$s-goods-item-next-offset-y: 0px;
$s-goods-item-next-width: 44px;
$s-goods-item-next-height: 44px;
$s-goods-item-next-total-width: 165px;
$s-goods-item-next-total-height: 150px;
$s-goods-item-next-image: '../img/png-sprite.png';
$s-goods-item-next: (0px, 0px, 0px, 0px, 44px, 44px, 165px, 150px, '../img/png-sprite.png', 's-goods-item-next', );
$s-icon-basket-name: 's-icon-basket';
$s-icon-basket-x: 110px;
$s-icon-basket-y: 130px;
$s-icon-basket-offset-x: -110px;
$s-icon-basket-offset-y: -130px;
$s-icon-basket-width: 18px;
$s-icon-basket-height: 15px;
$s-icon-basket-total-width: 165px;
$s-icon-basket-total-height: 150px;
$s-icon-basket-image: '../img/png-sprite.png';
$s-icon-basket: (110px, 130px, -110px, -130px, 18px, 15px, 165px, 150px, '../img/png-sprite.png', 's-icon-basket', );
$s-icon-hamburger-name: 's-icon-hamburger';
$s-icon-hamburger-x: 50px;
$s-icon-hamburger-y: 116px;
$s-icon-hamburger-offset-x: -50px;
$s-icon-hamburger-offset-y: -116px;
$s-icon-hamburger-width: 12px;
$s-icon-hamburger-height: 10px;
$s-icon-hamburger-total-width: 165px;
$s-icon-hamburger-total-height: 150px;
$s-icon-hamburger-image: '../img/png-sprite.png';
$s-icon-hamburger: (50px, 116px, -50px, -116px, 12px, 10px, 165px, 150px, '../img/png-sprite.png', 's-icon-hamburger', );
$s-icon-page-search-name: 's-icon-page-search';
$s-icon-page-search-x: 89px;
$s-icon-page-search-y: 86px;
$s-icon-page-search-offset-x: -89px;
$s-icon-page-search-offset-y: -86px;
$s-icon-page-search-width: 27px;
$s-icon-page-search-height: 27px;
$s-icon-page-search-total-width: 165px;
$s-icon-page-search-total-height: 150px;
$s-icon-page-search-image: '../img/png-sprite.png';
$s-icon-page-search: (89px, 86px, -89px, -86px, 27px, 27px, 165px, 150px, '../img/png-sprite.png', 's-icon-page-search', );
$s-icon-search-name: 's-icon-search';
$s-icon-search-x: 86px;
$s-icon-search-y: 20px;
$s-icon-search-offset-x: -86px;
$s-icon-search-offset-y: -20px;
$s-icon-search-width: 21px;
$s-icon-search-height: 20px;
$s-icon-search-total-width: 165px;
$s-icon-search-total-height: 150px;
$s-icon-search-image: '../img/png-sprite.png';
$s-icon-search: (86px, 20px, -86px, -20px, 21px, 20px, 165px, 150px, '../img/png-sprite.png', 's-icon-search', );
$s-icon-viber-transparent-name: 's-icon-viber-transparent';
$s-icon-viber-transparent-x: 60px;
$s-icon-viber-transparent-y: 86px;
$s-icon-viber-transparent-offset-x: -60px;
$s-icon-viber-transparent-offset-y: -86px;
$s-icon-viber-transparent-width: 27px;
$s-icon-viber-transparent-height: 28px;
$s-icon-viber-transparent-total-width: 165px;
$s-icon-viber-transparent-total-height: 150px;
$s-icon-viber-transparent-image: '../img/png-sprite.png';
$s-icon-viber-transparent: (60px, 86px, -60px, -86px, 27px, 28px, 165px, 150px, '../img/png-sprite.png', 's-icon-viber-transparent', );
$s-icon-viber-name: 's-icon-viber';
$s-icon-viber-x: 0px;
$s-icon-viber-y: 86px;
$s-icon-viber-offset-x: 0px;
$s-icon-viber-offset-y: -86px;
$s-icon-viber-width: 28px;
$s-icon-viber-height: 28px;
$s-icon-viber-total-width: 165px;
$s-icon-viber-total-height: 150px;
$s-icon-viber-image: '../img/png-sprite.png';
$s-icon-viber: (0px, 86px, 0px, -86px, 28px, 28px, 165px, 150px, '../img/png-sprite.png', 's-icon-viber', );
$s-icon-whatsapp-transparent-name: 's-icon-whatsapp-transparent';
$s-icon-whatsapp-transparent-x: 140px;
$s-icon-whatsapp-transparent-y: 0px;
$s-icon-whatsapp-transparent-offset-x: -140px;
$s-icon-whatsapp-transparent-offset-y: 0px;
$s-icon-whatsapp-transparent-width: 25px;
$s-icon-whatsapp-transparent-height: 25px;
$s-icon-whatsapp-transparent-total-width: 165px;
$s-icon-whatsapp-transparent-total-height: 150px;
$s-icon-whatsapp-transparent-image: '../img/png-sprite.png';
$s-icon-whatsapp-transparent: (140px, 0px, -140px, 0px, 25px, 25px, 165px, 150px, '../img/png-sprite.png', 's-icon-whatsapp-transparent', );
$s-icon-whatsapp-name: 's-icon-whatsapp';
$s-icon-whatsapp-x: 30px;
$s-icon-whatsapp-y: 86px;
$s-icon-whatsapp-offset-x: -30px;
$s-icon-whatsapp-offset-y: -86px;
$s-icon-whatsapp-width: 28px;
$s-icon-whatsapp-height: 28px;
$s-icon-whatsapp-total-width: 165px;
$s-icon-whatsapp-total-height: 150px;
$s-icon-whatsapp-image: '../img/png-sprite.png';
$s-icon-whatsapp: (30px, 86px, -30px, -86px, 28px, 28px, 165px, 150px, '../img/png-sprite.png', 's-icon-whatsapp', );
$s-item-arrow-name: 's-item-arrow';
$s-item-arrow-x: 0px;
$s-item-arrow-y: 46px;
$s-item-arrow-offset-x: 0px;
$s-item-arrow-offset-y: -46px;
$s-item-arrow-width: 34px;
$s-item-arrow-height: 38px;
$s-item-arrow-total-width: 165px;
$s-item-arrow-total-height: 150px;
$s-item-arrow-image: '../img/png-sprite.png';
$s-item-arrow: (0px, 46px, 0px, -46px, 34px, 38px, 165px, 150px, '../img/png-sprite.png', 's-item-arrow', );
$s-item-close-name: 's-item-close';
$s-item-close-x: 90px;
$s-item-close-y: 130px;
$s-item-close-offset-x: -90px;
$s-item-close-offset-y: -130px;
$s-item-close-width: 18px;
$s-item-close-height: 18px;
$s-item-close-total-width: 165px;
$s-item-close-total-height: 150px;
$s-item-close-image: '../img/png-sprite.png';
$s-item-close: (90px, 130px, -90px, -130px, 18px, 18px, 165px, 150px, '../img/png-sprite.png', 's-item-close', );
$s-item-email-name: 's-item-email';
$s-item-email-x: 72px;
$s-item-email-y: 46px;
$s-item-email-offset-x: -72px;
$s-item-email-offset-y: -46px;
$s-item-email-width: 34px;
$s-item-email-height: 34px;
$s-item-email-total-width: 165px;
$s-item-email-total-height: 150px;
$s-item-email-image: '../img/png-sprite.png';
$s-item-email: (72px, 46px, -72px, -46px, 34px, 34px, 165px, 150px, '../img/png-sprite.png', 's-item-email', );
$s-item-minus-hover-name: 's-item-minus-hover';
$s-item-minus-hover-x: 0px;
$s-item-minus-hover-y: 130px;
$s-item-minus-hover-offset-x: 0px;
$s-item-minus-hover-offset-y: -130px;
$s-item-minus-hover-width: 20px;
$s-item-minus-hover-height: 20px;
$s-item-minus-hover-total-width: 165px;
$s-item-minus-hover-total-height: 150px;
$s-item-minus-hover-image: '../img/png-sprite.png';
$s-item-minus-hover: (0px, 130px, 0px, -130px, 20px, 20px, 165px, 150px, '../img/png-sprite.png', 's-item-minus-hover', );
$s-item-minus-name: 's-item-minus';
$s-item-minus-x: 109px;
$s-item-minus-y: 20px;
$s-item-minus-offset-x: -109px;
$s-item-minus-offset-y: -20px;
$s-item-minus-width: 20px;
$s-item-minus-height: 20px;
$s-item-minus-total-width: 165px;
$s-item-minus-total-height: 150px;
$s-item-minus-image: '../img/png-sprite.png';
$s-item-minus: (109px, 20px, -109px, -20px, 20px, 20px, 165px, 150px, '../img/png-sprite.png', 's-item-minus', );
$s-item-plus-hover-name: 's-item-plus-hover';
$s-item-plus-hover-x: 22px;
$s-item-plus-hover-y: 130px;
$s-item-plus-hover-offset-x: -22px;
$s-item-plus-hover-offset-y: -130px;
$s-item-plus-hover-width: 20px;
$s-item-plus-hover-height: 20px;
$s-item-plus-hover-total-width: 165px;
$s-item-plus-hover-total-height: 150px;
$s-item-plus-hover-image: '../img/png-sprite.png';
$s-item-plus-hover: (22px, 130px, -22px, -130px, 20px, 20px, 165px, 150px, '../img/png-sprite.png', 's-item-plus-hover', );
$s-item-plus-name: 's-item-plus';
$s-item-plus-x: 118px;
$s-item-plus-y: 86px;
$s-item-plus-offset-x: -118px;
$s-item-plus-offset-y: -86px;
$s-item-plus-width: 20px;
$s-item-plus-height: 20px;
$s-item-plus-total-width: 165px;
$s-item-plus-total-height: 150px;
$s-item-plus-image: '../img/png-sprite.png';
$s-item-plus: (118px, 86px, -118px, -86px, 20px, 20px, 165px, 150px, '../img/png-sprite.png', 's-item-plus', );
$s-item-tel-name: 's-item-tel';
$s-item-tel-x: 36px;
$s-item-tel-y: 46px;
$s-item-tel-offset-x: -36px;
$s-item-tel-offset-y: -46px;
$s-item-tel-width: 34px;
$s-item-tel-height: 35px;
$s-item-tel-total-width: 165px;
$s-item-tel-total-height: 150px;
$s-item-tel-image: '../img/png-sprite.png';
$s-item-tel: (36px, 46px, -36px, -46px, 34px, 35px, 165px, 150px, '../img/png-sprite.png', 's-item-tel', );
$s-lang-en-name: 's-lang-en';
$s-lang-en-x: 44px;
$s-lang-en-y: 130px;
$s-lang-en-offset-x: -44px;
$s-lang-en-offset-y: -130px;
$s-lang-en-width: 21px;
$s-lang-en-height: 18px;
$s-lang-en-total-width: 165px;
$s-lang-en-total-height: 150px;
$s-lang-en-image: '../img/png-sprite.png';
$s-lang-en: (44px, 130px, -44px, -130px, 21px, 18px, 165px, 150px, '../img/png-sprite.png', 's-lang-en', );
$s-lang-ru-name: 's-lang-ru';
$s-lang-ru-x: 67px;
$s-lang-ru-y: 130px;
$s-lang-ru-offset-x: -67px;
$s-lang-ru-offset-y: -130px;
$s-lang-ru-width: 21px;
$s-lang-ru-height: 18px;
$s-lang-ru-total-width: 165px;
$s-lang-ru-total-height: 150px;
$s-lang-ru-image: '../img/png-sprite.png';
$s-lang-ru: (67px, 130px, -67px, -130px, 21px, 18px, 165px, 150px, '../img/png-sprite.png', 's-lang-ru', );
$s-menu-divider-name: 's-menu-divider';
$s-menu-divider-x: 36px;
$s-menu-divider-y: 116px;
$s-menu-divider-offset-x: -36px;
$s-menu-divider-offset-y: -116px;
$s-menu-divider-width: 12px;
$s-menu-divider-height: 12px;
$s-menu-divider-total-width: 165px;
$s-menu-divider-total-height: 150px;
$s-menu-divider-image: '../img/png-sprite.png';
$s-menu-divider: (36px, 116px, -36px, -116px, 12px, 12px, 165px, 150px, '../img/png-sprite.png', 's-menu-divider', );
$s-new-name: 's-new';
$s-new-x: 46px;
$s-new-y: 0px;
$s-new-offset-x: -46px;
$s-new-offset-y: 0px;
$s-new-width: 92px;
$s-new-height: 18px;
$s-new-total-width: 165px;
$s-new-total-height: 150px;
$s-new-image: '../img/png-sprite.png';
$s-new: (46px, 0px, -46px, 0px, 92px, 18px, 165px, 150px, '../img/png-sprite.png', 's-new', );
$s-overlay-close-300-name: 's-overlay-close-300';
$s-overlay-close-300-x: 108px;
$s-overlay-close-300-y: 46px;
$s-overlay-close-300-offset-x: -108px;
$s-overlay-close-300-offset-y: -46px;
$s-overlay-close-300-width: 30px;
$s-overlay-close-300-height: 30px;
$s-overlay-close-300-total-width: 165px;
$s-overlay-close-300-total-height: 150px;
$s-overlay-close-300-image: '../img/png-sprite.png';
$s-overlay-close-300: (108px, 46px, -108px, -46px, 30px, 30px, 165px, 150px, '../img/png-sprite.png', 's-overlay-close-300', );
$s-photogallery-arrow-hover-name: 's-photogallery-arrow-hover';
$s-photogallery-arrow-hover-x: 130px;
$s-photogallery-arrow-hover-y: 130px;
$s-photogallery-arrow-hover-offset-x: -130px;
$s-photogallery-arrow-hover-offset-y: -130px;
$s-photogallery-arrow-hover-width: 11px;
$s-photogallery-arrow-hover-height: 15px;
$s-photogallery-arrow-hover-total-width: 165px;
$s-photogallery-arrow-hover-total-height: 150px;
$s-photogallery-arrow-hover-image: '../img/png-sprite.png';
$s-photogallery-arrow-hover: (130px, 130px, -130px, -130px, 11px, 15px, 165px, 150px, '../img/png-sprite.png', 's-photogallery-arrow-hover', );
$s-photogallery-arrow-name: 's-photogallery-arrow';
$s-photogallery-arrow-x: 143px;
$s-photogallery-arrow-y: 130px;
$s-photogallery-arrow-offset-x: -143px;
$s-photogallery-arrow-offset-y: -130px;
$s-photogallery-arrow-width: 11px;
$s-photogallery-arrow-height: 15px;
$s-photogallery-arrow-total-width: 165px;
$s-photogallery-arrow-total-height: 150px;
$s-photogallery-arrow-image: '../img/png-sprite.png';
$s-photogallery-arrow: (143px, 130px, -143px, -130px, 11px, 15px, 165px, 150px, '../img/png-sprite.png', 's-photogallery-arrow', );
$s-photogallery-thumb-arrow-name: 's-photogallery-thumb-arrow';
$s-photogallery-thumb-arrow-x: 140px;
$s-photogallery-thumb-arrow-y: 27px;
$s-photogallery-thumb-arrow-offset-x: -140px;
$s-photogallery-thumb-arrow-offset-y: -27px;
$s-photogallery-thumb-arrow-width: 22px;
$s-photogallery-thumb-arrow-height: 28px;
$s-photogallery-thumb-arrow-total-width: 165px;
$s-photogallery-thumb-arrow-total-height: 150px;
$s-photogallery-thumb-arrow-image: '../img/png-sprite.png';
$s-photogallery-thumb-arrow: (140px, 27px, -140px, -27px, 22px, 28px, 165px, 150px, '../img/png-sprite.png', 's-photogallery-thumb-arrow', );
$s-promo-arrow-name: 's-promo-arrow';
$s-promo-arrow-x: 140px;
$s-promo-arrow-y: 83px;
$s-promo-arrow-offset-x: -140px;
$s-promo-arrow-offset-y: -83px;
$s-promo-arrow-width: 18px;
$s-promo-arrow-height: 24px;
$s-promo-arrow-total-width: 165px;
$s-promo-arrow-total-height: 150px;
$s-promo-arrow-image: '../img/png-sprite.png';
$s-promo-arrow: (140px, 83px, -140px, -83px, 18px, 24px, 165px, 150px, '../img/png-sprite.png', 's-promo-arrow', );
$spritesheet-width: 165px;
$spritesheet-height: 150px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-calendar-arrow, $s-catalogue-arrow-300, $s-catalogue-arrow-hover, $s-catalogue-arrow, $s-chevron-down, $s-goods-item-next, $s-icon-basket, $s-icon-hamburger, $s-icon-page-search, $s-icon-search, $s-icon-viber-transparent, $s-icon-viber, $s-icon-whatsapp-transparent, $s-icon-whatsapp, $s-item-arrow, $s-item-close, $s-item-email, $s-item-minus-hover, $s-item-minus, $s-item-plus-hover, $s-item-plus, $s-item-tel, $s-lang-en, $s-lang-ru, $s-menu-divider, $s-new, $s-overlay-close-300, $s-photogallery-arrow-hover, $s-photogallery-arrow, $s-photogallery-thumb-arrow, $s-promo-arrow, );
$spritesheet: (165px, 150px, '../img/png-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
