// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-calendar-arrow-name: 's-calendar-arrow';
$s-calendar-arrow-x: 0px;
$s-calendar-arrow-y: 112px;
$s-calendar-arrow-offset-x: 0px;
$s-calendar-arrow-offset-y: -112px;
$s-calendar-arrow-width: 34px;
$s-calendar-arrow-height: 12px;
$s-calendar-arrow-total-width: 162px;
$s-calendar-arrow-total-height: 144px;
$s-calendar-arrow-image: '../img/png-sprite.png';
$s-calendar-arrow: (0px, 112px, 0px, -112px, 34px, 12px, 162px, 144px, '../img/png-sprite.png', 's-calendar-arrow', );
$s-catalogue-arrow-hover-name: 's-catalogue-arrow-hover';
$s-catalogue-arrow-hover-x: 118px;
$s-catalogue-arrow-hover-y: 82px;
$s-catalogue-arrow-hover-offset-x: -118px;
$s-catalogue-arrow-hover-offset-y: -82px;
$s-catalogue-arrow-hover-width: 18px;
$s-catalogue-arrow-hover-height: 24px;
$s-catalogue-arrow-hover-total-width: 162px;
$s-catalogue-arrow-hover-total-height: 144px;
$s-catalogue-arrow-hover-image: '../img/png-sprite.png';
$s-catalogue-arrow-hover: (118px, 82px, -118px, -82px, 18px, 24px, 162px, 144px, '../img/png-sprite.png', 's-catalogue-arrow-hover', );
$s-catalogue-arrow-name: 's-catalogue-arrow';
$s-catalogue-arrow-x: 118px;
$s-catalogue-arrow-y: 56px;
$s-catalogue-arrow-offset-x: -118px;
$s-catalogue-arrow-offset-y: -56px;
$s-catalogue-arrow-width: 18px;
$s-catalogue-arrow-height: 24px;
$s-catalogue-arrow-total-width: 162px;
$s-catalogue-arrow-total-height: 144px;
$s-catalogue-arrow-image: '../img/png-sprite.png';
$s-catalogue-arrow: (118px, 56px, -118px, -56px, 18px, 24px, 162px, 144px, '../img/png-sprite.png', 's-catalogue-arrow', );
$s-chevron-down-name: 's-chevron-down';
$s-chevron-down-x: 82px;
$s-chevron-down-y: 37px;
$s-chevron-down-offset-x: -82px;
$s-chevron-down-offset-y: -37px;
$s-chevron-down-width: 8px;
$s-chevron-down-height: 5px;
$s-chevron-down-total-width: 162px;
$s-chevron-down-total-height: 144px;
$s-chevron-down-image: '../img/png-sprite.png';
$s-chevron-down: (82px, 37px, -82px, -37px, 8px, 5px, 162px, 144px, '../img/png-sprite.png', 's-chevron-down', );
$s-goods-item-next-name: 's-goods-item-next';
$s-goods-item-next-x: 0px;
$s-goods-item-next-y: 0px;
$s-goods-item-next-offset-x: 0px;
$s-goods-item-next-offset-y: 0px;
$s-goods-item-next-width: 44px;
$s-goods-item-next-height: 44px;
$s-goods-item-next-total-width: 162px;
$s-goods-item-next-total-height: 144px;
$s-goods-item-next-image: '../img/png-sprite.png';
$s-goods-item-next: (0px, 0px, 0px, 0px, 44px, 44px, 162px, 144px, '../img/png-sprite.png', 's-goods-item-next', );
$s-icon-basket-name: 's-icon-basket';
$s-icon-basket-x: 142px;
$s-icon-basket-y: 86px;
$s-icon-basket-offset-x: -142px;
$s-icon-basket-offset-y: -86px;
$s-icon-basket-width: 18px;
$s-icon-basket-height: 15px;
$s-icon-basket-total-width: 162px;
$s-icon-basket-total-height: 144px;
$s-icon-basket-image: '../img/png-sprite.png';
$s-icon-basket: (142px, 86px, -142px, -86px, 18px, 15px, 162px, 144px, '../img/png-sprite.png', 's-icon-basket', );
$s-icon-hamburger-name: 's-icon-hamburger';
$s-icon-hamburger-x: 50px;
$s-icon-hamburger-y: 112px;
$s-icon-hamburger-offset-x: -50px;
$s-icon-hamburger-offset-y: -112px;
$s-icon-hamburger-width: 12px;
$s-icon-hamburger-height: 10px;
$s-icon-hamburger-total-width: 162px;
$s-icon-hamburger-total-height: 144px;
$s-icon-hamburger-image: '../img/png-sprite.png';
$s-icon-hamburger: (50px, 112px, -50px, -112px, 12px, 10px, 162px, 144px, '../img/png-sprite.png', 's-icon-hamburger', );
$s-icon-page-search-name: 's-icon-page-search';
$s-icon-page-search-x: 29px;
$s-icon-page-search-y: 82px;
$s-icon-page-search-offset-x: -29px;
$s-icon-page-search-offset-y: -82px;
$s-icon-page-search-width: 27px;
$s-icon-page-search-height: 27px;
$s-icon-page-search-total-width: 162px;
$s-icon-page-search-total-height: 144px;
$s-icon-page-search-image: '../img/png-sprite.png';
$s-icon-page-search: (29px, 82px, -29px, -82px, 27px, 27px, 162px, 144px, '../img/png-sprite.png', 's-icon-page-search', );
$s-icon-search-name: 's-icon-search';
$s-icon-search-x: 85px;
$s-icon-search-y: 82px;
$s-icon-search-offset-x: -85px;
$s-icon-search-offset-y: -82px;
$s-icon-search-width: 21px;
$s-icon-search-height: 20px;
$s-icon-search-total-width: 162px;
$s-icon-search-total-height: 144px;
$s-icon-search-image: '../img/png-sprite.png';
$s-icon-search: (85px, 82px, -85px, -82px, 21px, 20px, 162px, 144px, '../img/png-sprite.png', 's-icon-search', );
$s-icon-viber-transparent-name: 's-icon-viber-transparent';
$s-icon-viber-transparent-x: 0px;
$s-icon-viber-transparent-y: 82px;
$s-icon-viber-transparent-offset-x: 0px;
$s-icon-viber-transparent-offset-y: -82px;
$s-icon-viber-transparent-width: 27px;
$s-icon-viber-transparent-height: 28px;
$s-icon-viber-transparent-total-width: 162px;
$s-icon-viber-transparent-total-height: 144px;
$s-icon-viber-transparent-image: '../img/png-sprite.png';
$s-icon-viber-transparent: (0px, 82px, 0px, -82px, 27px, 28px, 162px, 144px, '../img/png-sprite.png', 's-icon-viber-transparent', );
$s-icon-viber-name: 's-icon-viber';
$s-icon-viber-x: 66px;
$s-icon-viber-y: 46px;
$s-icon-viber-offset-x: -66px;
$s-icon-viber-offset-y: -46px;
$s-icon-viber-width: 28px;
$s-icon-viber-height: 28px;
$s-icon-viber-total-width: 162px;
$s-icon-viber-total-height: 144px;
$s-icon-viber-image: '../img/png-sprite.png';
$s-icon-viber: (66px, 46px, -66px, -46px, 28px, 28px, 162px, 144px, '../img/png-sprite.png', 's-icon-viber', );
$s-icon-whatsapp-transparent-name: 's-icon-whatsapp-transparent';
$s-icon-whatsapp-transparent-x: 58px;
$s-icon-whatsapp-transparent-y: 82px;
$s-icon-whatsapp-transparent-offset-x: -58px;
$s-icon-whatsapp-transparent-offset-y: -82px;
$s-icon-whatsapp-transparent-width: 25px;
$s-icon-whatsapp-transparent-height: 25px;
$s-icon-whatsapp-transparent-total-width: 162px;
$s-icon-whatsapp-transparent-total-height: 144px;
$s-icon-whatsapp-transparent-image: '../img/png-sprite.png';
$s-icon-whatsapp-transparent: (58px, 82px, -58px, -82px, 25px, 25px, 162px, 144px, '../img/png-sprite.png', 's-icon-whatsapp-transparent', );
$s-icon-whatsapp-name: 's-icon-whatsapp';
$s-icon-whatsapp-x: 36px;
$s-icon-whatsapp-y: 46px;
$s-icon-whatsapp-offset-x: -36px;
$s-icon-whatsapp-offset-y: -46px;
$s-icon-whatsapp-width: 28px;
$s-icon-whatsapp-height: 28px;
$s-icon-whatsapp-total-width: 162px;
$s-icon-whatsapp-total-height: 144px;
$s-icon-whatsapp-image: '../img/png-sprite.png';
$s-icon-whatsapp: (36px, 46px, -36px, -46px, 28px, 28px, 162px, 144px, '../img/png-sprite.png', 's-icon-whatsapp', );
$s-item-arrow-name: 's-item-arrow';
$s-item-arrow-x: 46px;
$s-item-arrow-y: 0px;
$s-item-arrow-offset-x: -46px;
$s-item-arrow-offset-y: 0px;
$s-item-arrow-width: 34px;
$s-item-arrow-height: 38px;
$s-item-arrow-total-width: 162px;
$s-item-arrow-total-height: 144px;
$s-item-arrow-image: '../img/png-sprite.png';
$s-item-arrow: (46px, 0px, -46px, 0px, 34px, 38px, 162px, 144px, '../img/png-sprite.png', 's-item-arrow', );
$s-item-close-name: 's-item-close';
$s-item-close-x: 142px;
$s-item-close-y: 66px;
$s-item-close-offset-x: -142px;
$s-item-close-offset-y: -66px;
$s-item-close-width: 18px;
$s-item-close-height: 18px;
$s-item-close-total-width: 162px;
$s-item-close-total-height: 144px;
$s-item-close-image: '../img/png-sprite.png';
$s-item-close: (142px, 66px, -142px, -66px, 18px, 18px, 162px, 144px, '../img/png-sprite.png', 's-item-close', );
$s-item-email-name: 's-item-email';
$s-item-email-x: 0px;
$s-item-email-y: 46px;
$s-item-email-offset-x: 0px;
$s-item-email-offset-y: -46px;
$s-item-email-width: 34px;
$s-item-email-height: 34px;
$s-item-email-total-width: 162px;
$s-item-email-total-height: 144px;
$s-item-email-image: '../img/png-sprite.png';
$s-item-email: (0px, 46px, 0px, -46px, 34px, 34px, 162px, 144px, '../img/png-sprite.png', 's-item-email', );
$s-item-minus-hover-name: 's-item-minus-hover';
$s-item-minus-hover-x: 142px;
$s-item-minus-hover-y: 44px;
$s-item-minus-hover-offset-x: -142px;
$s-item-minus-hover-offset-y: -44px;
$s-item-minus-hover-width: 20px;
$s-item-minus-hover-height: 20px;
$s-item-minus-hover-total-width: 162px;
$s-item-minus-hover-total-height: 144px;
$s-item-minus-hover-image: '../img/png-sprite.png';
$s-item-minus-hover: (142px, 44px, -142px, -44px, 20px, 20px, 162px, 144px, '../img/png-sprite.png', 's-item-minus-hover', );
$s-item-minus-name: 's-item-minus';
$s-item-minus-x: 96px;
$s-item-minus-y: 46px;
$s-item-minus-offset-x: -96px;
$s-item-minus-offset-y: -46px;
$s-item-minus-width: 20px;
$s-item-minus-height: 20px;
$s-item-minus-total-width: 162px;
$s-item-minus-total-height: 144px;
$s-item-minus-image: '../img/png-sprite.png';
$s-item-minus: (96px, 46px, -96px, -46px, 20px, 20px, 162px, 144px, '../img/png-sprite.png', 's-item-minus', );
$s-item-plus-hover-name: 's-item-plus-hover';
$s-item-plus-hover-x: 142px;
$s-item-plus-hover-y: 0px;
$s-item-plus-hover-offset-x: -142px;
$s-item-plus-hover-offset-y: 0px;
$s-item-plus-hover-width: 20px;
$s-item-plus-hover-height: 20px;
$s-item-plus-hover-total-width: 162px;
$s-item-plus-hover-total-height: 144px;
$s-item-plus-hover-image: '../img/png-sprite.png';
$s-item-plus-hover: (142px, 0px, -142px, 0px, 20px, 20px, 162px, 144px, '../img/png-sprite.png', 's-item-plus-hover', );
$s-item-plus-name: 's-item-plus';
$s-item-plus-x: 142px;
$s-item-plus-y: 22px;
$s-item-plus-offset-x: -142px;
$s-item-plus-offset-y: -22px;
$s-item-plus-width: 20px;
$s-item-plus-height: 20px;
$s-item-plus-total-width: 162px;
$s-item-plus-total-height: 144px;
$s-item-plus-image: '../img/png-sprite.png';
$s-item-plus: (142px, 22px, -142px, -22px, 20px, 20px, 162px, 144px, '../img/png-sprite.png', 's-item-plus', );
$s-item-tel-name: 's-item-tel';
$s-item-tel-x: 82px;
$s-item-tel-y: 0px;
$s-item-tel-offset-x: -82px;
$s-item-tel-offset-y: 0px;
$s-item-tel-width: 34px;
$s-item-tel-height: 35px;
$s-item-tel-total-width: 162px;
$s-item-tel-total-height: 144px;
$s-item-tel-image: '../img/png-sprite.png';
$s-item-tel: (82px, 0px, -82px, 0px, 34px, 35px, 162px, 144px, '../img/png-sprite.png', 's-item-tel', );
$s-lang-en-name: 's-lang-en';
$s-lang-en-x: 0px;
$s-lang-en-y: 126px;
$s-lang-en-offset-x: 0px;
$s-lang-en-offset-y: -126px;
$s-lang-en-width: 21px;
$s-lang-en-height: 18px;
$s-lang-en-total-width: 162px;
$s-lang-en-total-height: 144px;
$s-lang-en-image: '../img/png-sprite.png';
$s-lang-en: (0px, 126px, 0px, -126px, 21px, 18px, 162px, 144px, '../img/png-sprite.png', 's-lang-en', );
$s-lang-ru-name: 's-lang-ru';
$s-lang-ru-x: 23px;
$s-lang-ru-y: 126px;
$s-lang-ru-offset-x: -23px;
$s-lang-ru-offset-y: -126px;
$s-lang-ru-width: 21px;
$s-lang-ru-height: 18px;
$s-lang-ru-total-width: 162px;
$s-lang-ru-total-height: 144px;
$s-lang-ru-image: '../img/png-sprite.png';
$s-lang-ru: (23px, 126px, -23px, -126px, 21px, 18px, 162px, 144px, '../img/png-sprite.png', 's-lang-ru', );
$s-menu-divider-name: 's-menu-divider';
$s-menu-divider-x: 36px;
$s-menu-divider-y: 112px;
$s-menu-divider-offset-x: -36px;
$s-menu-divider-offset-y: -112px;
$s-menu-divider-width: 12px;
$s-menu-divider-height: 12px;
$s-menu-divider-total-width: 162px;
$s-menu-divider-total-height: 144px;
$s-menu-divider-image: '../img/png-sprite.png';
$s-menu-divider: (36px, 112px, -36px, -112px, 12px, 12px, 162px, 144px, '../img/png-sprite.png', 's-menu-divider', );
$s-photogallery-arrow-hover-name: 's-photogallery-arrow-hover';
$s-photogallery-arrow-hover-x: 142px;
$s-photogallery-arrow-hover-y: 103px;
$s-photogallery-arrow-hover-offset-x: -142px;
$s-photogallery-arrow-hover-offset-y: -103px;
$s-photogallery-arrow-hover-width: 11px;
$s-photogallery-arrow-hover-height: 15px;
$s-photogallery-arrow-hover-total-width: 162px;
$s-photogallery-arrow-hover-total-height: 144px;
$s-photogallery-arrow-hover-image: '../img/png-sprite.png';
$s-photogallery-arrow-hover: (142px, 103px, -142px, -103px, 11px, 15px, 162px, 144px, '../img/png-sprite.png', 's-photogallery-arrow-hover', );
$s-photogallery-arrow-name: 's-photogallery-arrow';
$s-photogallery-arrow-x: 46px;
$s-photogallery-arrow-y: 126px;
$s-photogallery-arrow-offset-x: -46px;
$s-photogallery-arrow-offset-y: -126px;
$s-photogallery-arrow-width: 11px;
$s-photogallery-arrow-height: 15px;
$s-photogallery-arrow-total-width: 162px;
$s-photogallery-arrow-total-height: 144px;
$s-photogallery-arrow-image: '../img/png-sprite.png';
$s-photogallery-arrow: (46px, 126px, -46px, -126px, 11px, 15px, 162px, 144px, '../img/png-sprite.png', 's-photogallery-arrow', );
$s-photogallery-thumb-arrow-name: 's-photogallery-thumb-arrow';
$s-photogallery-thumb-arrow-x: 118px;
$s-photogallery-thumb-arrow-y: 0px;
$s-photogallery-thumb-arrow-offset-x: -118px;
$s-photogallery-thumb-arrow-offset-y: 0px;
$s-photogallery-thumb-arrow-width: 22px;
$s-photogallery-thumb-arrow-height: 28px;
$s-photogallery-thumb-arrow-total-width: 162px;
$s-photogallery-thumb-arrow-total-height: 144px;
$s-photogallery-thumb-arrow-image: '../img/png-sprite.png';
$s-photogallery-thumb-arrow: (118px, 0px, -118px, 0px, 22px, 28px, 162px, 144px, '../img/png-sprite.png', 's-photogallery-thumb-arrow', );
$s-promo-arrow-name: 's-promo-arrow';
$s-promo-arrow-x: 118px;
$s-promo-arrow-y: 30px;
$s-promo-arrow-offset-x: -118px;
$s-promo-arrow-offset-y: -30px;
$s-promo-arrow-width: 18px;
$s-promo-arrow-height: 24px;
$s-promo-arrow-total-width: 162px;
$s-promo-arrow-total-height: 144px;
$s-promo-arrow-image: '../img/png-sprite.png';
$s-promo-arrow: (118px, 30px, -118px, -30px, 18px, 24px, 162px, 144px, '../img/png-sprite.png', 's-promo-arrow', );
$spritesheet-width: 162px;
$spritesheet-height: 144px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-calendar-arrow, $s-catalogue-arrow-hover, $s-catalogue-arrow, $s-chevron-down, $s-goods-item-next, $s-icon-basket, $s-icon-hamburger, $s-icon-page-search, $s-icon-search, $s-icon-viber-transparent, $s-icon-viber, $s-icon-whatsapp-transparent, $s-icon-whatsapp, $s-item-arrow, $s-item-close, $s-item-email, $s-item-minus-hover, $s-item-minus, $s-item-plus-hover, $s-item-plus, $s-item-tel, $s-lang-en, $s-lang-ru, $s-menu-divider, $s-photogallery-arrow-hover, $s-photogallery-arrow, $s-photogallery-thumb-arrow, $s-promo-arrow, );
$spritesheet: (162px, 144px, '../img/png-sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
