include ../abstracts/bemto/bemto.pug

+b.SECTION.contacts
  +e.inner
    +e.text 
      +e.promo
        span Магазин элитного шоколада In chocolate veritas:
      | мы принимаем заказы на корпоративные подарки из коллекции новогоднего шоколада.
      +e.email 
        span Эл. почта для заказов: 
        a(href="mailto:info@vip-chocolate.ru") info@vip-chocolate.ru
    +e.tel 
      span Телефон для связи: 
      +e.A.link--tel(href="tel:+78129423023") +7 (812) 
        span 942-30-23
