include ../abstracts/bemto/bemto.pug

+b.SECTION.copyright
  +e.inner
    +e.text © 2009 ЗАО "Траверз". Элитный шоколад от производителя в Санкт-Петербурге, шоколад на заказ, элитный шоколад ручной работы, шоколадные подарки.
    +e.developer Разработка сайта — Inmotus Design
