include ../abstracts/bemto/bemto.pug


+b.SECTION.gifts
  +e.H2.title
    span Шоколадные подарки In chocolate veritas
  +e.items
    +e.item
      +e.text Исключительно 100% 
        br 
        | натуральный шоколад
    +e.item
      +e.text Произведено 
        br 
        | в Санкт-Петербурге
    +e.item
      +e.text Филигранность 
        br 
        | исполнения
    +e.item
      +e.text Корпоративные 
        br 
        | подарки