include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  +e.inner

    +e.switcher
      // Language
      +b.language
        +e.active
          +e.A.link--ru(href="javascript:void(0);") 
            span Русский язык
        +e.UL.dropdown
          +e.item
            +e.link--en(href="javascript:void(0);") 
              span English

    +e.logo
      +b.A.logo(href="index.html" title="In chocolate veritas: подарочный шоколад") 
        img(src="img/logo.png" alt="In chocolate veritas: подарочный шоколад")
        span подарочный шоколад

    +e.info
      +e.shipping Доставка по России и СНГ
      +e.A.tel(href="tel:+78129423023") +7 (812) 
        span 942-30-23
      +e.social
        +e.A.whatsapp(href="tel:+78129423023", title="Позвонить по whatsapp")
        +e.A.viber(href="viber://+78129423023", title="Позвонить по viber")







