include ../abstracts/bemto/bemto.pug

+b.NAV.nav

  +e.hamburger
    +b.A.main-hamburger(href="#")
      span
      | Меню

  +e.UL.list
    +e.item
      +e.A.link(href="javascript:void(0);") О компании
      +e.UL.sublist--about
        +e.subitem 
          +e.A.sublink(href="page-about.html") In chocolate veritas
        +e.subitem 
          +e.A.sublink(href="page-corporate-clients.html") Корпоративным клиентам
        +e.subitem 
          +e.A.sublink(href="page-guarantee.html") Гарантия качества
        +e.subitem 
          +e.A.sublink(href="page-faq.html") Ответы на вопросы
        +e.subitem 
          +e.A.sublink(href="page-clients.html") Наши клиенты
        +e.subitem 
          +e.A.sublink(href="page-recommendations.html") Рекомендации
        +e.subitem 
          +e.A.sublink(href="page-photogallery.html") Фотогалерея
    +e.item 
      +e.A.link(href="javascript:void(0);") Каталог шоколада
      +e.UL.sublist--catalogue
        +e.subitem 
          +e.A.sublink(href="page-category.html") 8 марта
        +e.subitem 
          +e.A.sublink(href="page-category.html") Для женщин
        +e.subitem 
          +e.A.sublink(href="page-category.html") Для мужчин
        +e.subitem 
          +e.A.sublink(href="page-category.html") Санкт-Петербург
        +e.subitem 
          +e.A.sublink(href="page-category.html") Эксклюзив
        +e.subitem 
          +e.A.sublink(href="page-category.html") День знаний
        +e.subitem 
          +e.A.sublink(href="page-category.html") День учителя
        +e.subitem 
          +e.A.sublink(href="page-category.html") Москва
        +e.subitem 
          +e.A.sublink(href="page-category.html") 8 марта
        +e.subitem 
          +e.A.sublink(href="page-category.html") Для женщин
        +e.subitem 
          +e.A.sublink(href="page-category.html") Для мужчин
        +e.subitem 
          +e.A.sublink(href="page-category.html") Санкт-Петербург
        +e.subitem 
          +e.A.sublink(href="page-category.html") Эксклюзив
        +e.subitem 
          +e.A.sublink(href="page-category.html") День знаний
        +e.subitem 
          +e.A.sublink(href="page-category.html") День учителя
        +e.subitem 
          +e.A.sublink(href="page-category.html") Москва
        +e.subitem 
          +e.A.sublink(href="page-category.html") 8 марта
        +e.subitem 
          +e.A.sublink(href="page-category.html") Для женщин
        +e.subitem 
          +e.A.sublink(href="page-category.html") Для мужчин
        +e.subitem 
          +e.A.sublink(href="page-category.html") Санкт-Петербург
        +e.subitem 
          +e.A.sublink(href="page-category.html") Эксклюзив
    +e.item 
      +e.A.link(href="page-brand.html") Брендирование
    +e.item 
      +e.A.link(href="page-services.html") Услуги
    +e.item 
      +e.A.link(href="page-contacts.html") Контакты
    +e.item--search
      +e.A.link--search(href="javascript:void(0);" title="поиск")
      // Nav search
      +b.SECTION.nav-search
        +e.FORM.form(action='', method='')
          +e.LABEL.label
            +e.INPUT.input(type='text', name='Поиск', placeholder="Поиск по сайту")
            //- +b.A.loupe(href="#")
            //- +b.BUTTON.loupe(type="submit")
