<section class="contacts">
  <div class="contacts__inner">
    <div class="contacts__text">
      <div class="contacts__promo">
        <span>Магазин элитного шоколада In chocolate veritas:</span>
      </div>мы принимаем заказы на корпоративные подарки из коллекции новогоднего шоколада.
      <div class="contacts__email">
        <span>Эл. почта для заказов: </span>
        <a href="mailto:info@vip-chocolate.ru">info@vip-chocolate.ru</a>
      </div>
    </div>
    <div class="contacts__tel">
      <span>Телефон для связи: </span>
      <a href="tel:+78129423023">+7 (812)
        <span>942-30-23</span>
      </a>
    </div>
  </div>
</section>