<section class="gifts">
  <h2 class="gifts__title">
    <span>Шоколадные подарки In chocolate veritas</span>
  </h2>
  <div class="gifts__items">
    <div class="gifts__item">
      <div class="gifts__text">Исключительно 100%
        <br/>натуральный шоколад</div>
    </div>
    <div class="gifts__item">
      <div class="gifts__text">Произведено
        <br/>в Санкт-Петербурге</div>
    </div>
    <div class="gifts__item">
      <div class="gifts__text">Филигранность
        <br/>исполнения</div>
    </div>
    <div class="gifts__item">
      <div class="gifts__text">Корпоративные
        <br/>подарки</div>
    </div>
  </div>
</section>